@import url('fonts.css');

/*--------------------------
  GLOBAL
---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-16);
    color: var(--color-font-primary);
    background-color: var(--color-fill-bg);
    letter-spacing: -0.05em;
}

img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--color-font-primary);
}

/*--------------------------
  TOKENS
---------------------------*/
:root {
    --space-4: 0.25rem;
    --space-8: 0.5rem;
    --space-12: 0.75rem;
    --space-16: 1rem;
    --space-24: 1.5rem;
    --space-32: 2rem;
    --space-48: 3rem;
    --space-72: 4.5rem;
    --space-96: 6rem;

    --radius-4: 0.25rem;
    --radius-8: 0.5rem;
    --radius-16: 1rem;
    --radius-24: 1.5rem;
    --radius-max: 999px;

    --font-family-primary: Satoshi;
    --font-family-secondary: Garamond;

    --font-size-12: 0.75rem;
    --font-size-16: 1rem;
    --font-size-24: 1.5rem;
    --font-size-32: 2rem;
    --font-size-48: 3rem;
    --font-size-64: 4rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --color-font-primary: #1b1b1b;

    --color-fill-bg: #f5f5f5;
    --color-fill-white: #fff;
    --color-fill-brand: #b4dd13;
}

/*--------------------------
  FONTS
---------------------------*/
.h0-bold {
    font-size: var(--font-size-64);
    font-weight: var(--font-weight-bold);
    line-height: 108%;
}

.h1-bold {
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-bold);
    line-height: 108%;
}

.h2-bold {
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-bold);
    line-height: 108%;
}

.body-medium {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    line-height: 108%;
}

.button-medium {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-medium);
    line-height: 108%;
}

.button-small {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    line-height: 108%;
}

/*--------------------------
  COMPONENTS
---------------------------*/
.buttonCapsule {
    display: flex;
    height: var(--space-48);
    background-color: var(--color-fill-bg);
    border-radius: 999px;
    padding: 0 var(--space-24);
    align-items: center;
    transition: transform 300ms ease;
}

.buttonCapsule:hover {
    background-color: var(--color-fill-brand);
    transform: translateY(-4px);
}

.buttonRound {
    height: var(--space-48);
    width: var(--space-48);
    border-radius: 100%;
    transition: transform 300ms ease;
}

.buttonRound:hover {
    transform: translateY(-4px);
}

.tag {
    padding: var(--space-4) var(--space-8);
    background-color: var(--color-fill-bg);
    border-radius: var(--radius-4);
    text-transform: uppercase;
}

.button {
    transition: transform 300ms ease, background-color 300ms ease;
}

.button:hover {
    transform: translateY(-4px);
    background-color: var(--color-fill-brand);
}

.button--type-round {
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-max);
}

.button--type-capsule {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--space-24);
    border-radius: var(--radius-max);
}

.button--size-medium {
    height: var(--space-48);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
}

.button--color-primary {
    background-color: var(--color-font-primary);
}

.button--color-secondary {
    background-color: var(--color-fill-bg);
}