@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-16);
    color: var(--color-font-primary);
    background-color: var(--color-fill-bg);
    letter-spacing: -0.05em;
}

img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--color-font-primary);
}

.pageWrapper {
    padding: var(--space-24);
    width: 100vw;
    height: 100vh;
    align-content: center;
}

.pageGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-areas:
        "hero tile1 tile2"
        "hero tile3 tile4";
    gap: var(--space-16);
    max-width: 1920px;
    max-height: 1080px;
    margin: auto;
}

.hero {grid-area: hero;}
.tile1 {grid-area: tile1;}
.tile2 {grid-area: tile2;}
.tile3 {grid-area: tile3;}
.tile4 {grid-area: tile4;}

.card {
    background-color: var(--color-fill-white);
    border-radius: var(--radius-24);
    padding: var(--space-16);
}

.intro {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
}

.heroImg {
    background-color: var(--color-fill-brand);
    border-radius: var(--radius-16);
    aspect-ratio: 1 / 1;
}

.heroText {
    padding: 0 var(--space-8);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-bold);
    line-height: 108%;
}

.linkWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.externalLinks {
    display: flex;
    flex-direction: row;
    gap: var(--space-12);
}

.socialLink {
    height: var(--space-48);
    width: var(--space-48);
    border-radius: 100%;
    transition: transform 0.15s ease;
}

.socialLink:hover {
    transform: translateY(-4px);
}

.resume {
    display: flex;
    height: var(--space-48);
    background-color: var(--color-fill-bg);
    border-radius: 999px;
    padding: 0 var(--space-24);
    align-items: center;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    transition: background-color 0.15s ease, transform 0.15s ease;
}

.resume:hover {
    background-color: var(--color-fill-brand);
    transform: translateY(-4px);
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    height: 100%;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-12);
}

.cardImg {
    width: 100%;
    max-height: 100%;
    background-color: var(--color-fill-bg);
    border-radius: var(--radius-16);
}

.headerLogo {
    height: var(--space-72);
    width: var(--space-72);
    background-color: var(--color-fill-bg);
    border-radius: var(--radius-16);
    flex-shrink: 0;
}

.headerInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    gap: var(--space-12);
}

.infoTitle {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-bold);
    line-height: 108%;
}

.infoTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-8);
    width: 100%;
}

.tag {
    padding: var(--space-4) var(--space-8);
    background-color: var(--color-fill-bg);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    border-radius: var(--radius-8);
    line-height: 108%;
}

.casestudy {
  /* start with no inner border */
  box-shadow: inset 0 0 0 0 var(--color-font-primary);
  /* tell it to animate box-shadow changes */
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.casestudy:hover {
    box-shadow: inset 0 0 0 2px var(--color-font-primary);
}

:root {
    --space-4: 0.25rem;
    --space-8: 0.5rem;
    --space-12: 0.75rem;
    --space-16: 1rem;
    --space-24: 1.5rem;
    --space-32: 2rem;
    --space-48: 3rem;
    --space-72: 4.5rem;
    --space-96: 6rem;

    --radius-8: 0.5rem;
    --radius-16: 1rem;
    --radius-24: 1.5rem;

    --font-family-primary: Satoshi;
    --font-family-secondary: Garamond;

    --font-size-12: 0.75rem;
    --font-size-16: 1rem;
    --font-size-24: 1.5rem;
    --font-size-32: 2rem;
    --font-size-48: 3rem;
    --font-size-64: 4rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --color-font-primary: #1b1b1b;

    --color-fill-bg: #f5f5f5;
    --color-fill-white: #fff;
    --color-fill-brand: #b4dd13;
}

@media (max-width: 780px) {
    .pageWrapper {
        padding: var(--space-16);
    }

    .pageGrid {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "hero"
            "tile1"
            "tile2"
            "tile3"
            "tile4";
        min-width: unset;
        max-width: none;
        min-height: unset;
        max-height: none;
    }

    .hero .cardContent {
        gap: var(--space-48);
    }

    .casestudy:hover {
        box-shadow: inset 0 0 0 0 var(--color-font-primary);
        transform: translateY(0px);
    }
}

@media (min-width: 1560px) {
    .heroText {
        font-size: var(--font-size-32);
    }

    .infoTitle {
        font-size: var(--font-size-32);
    }
}